/* {
    "presets": ["@babel/preset-env","minify"]
}, */
/* {
    "presets": ["@babel/preset-env","minify"],
    "plugins": [
      ["transform-runtime", {
        "regenerator": true
      }]
    ]
  } */

  {
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/transform-runtime"]
    ]
}