
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {


  --clr-white: #fff;
  --clr-black: #222;
  --font-primary: 'Montserrat', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --grayscale-shadow:rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  --black-shadow:0 25px 20px 0 rgb(0 0 0 / 16%), 0 -1px 2px 0 rgb(0 0 0 / 10%);
  --background-color: rgb(0 53 255 / 50%);
  --max-width: 1170px;
  --fixed-width: 620px;
  --fixed-width-max: 900px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: var(--font-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img:not(.logo) {
width: 100%;
} */
img {
  display: block;
}

.Header{
  width: 100%;
  height: 100%;
  position: relative;
  &_Container{
    width: 100%;
    position: absolute;
    z-index: 300;
    left: 0;
    top: 0;
    &_Content{
      margin: 0 auto;
      max-width: 1140px;
      padding: 10px 0;
      &_Img{
        width: 10%;
      }
    }
    
  }
    &_Logotipo{
      position: absolute;
      z-index: 1000;
      left: 377px;
       top: 14px;
       &_Img{
        width: 14%;
       }
    }
  }
  
.Main{
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 391px);
}
.Footer{
  width: 100%;
  height: 100%;
  background-color:#224eec;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
  height: 100%;

  &_Container{
    max-width: 1093px;
    background-color:#224eec;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;

    &_Legacy{
      font-size: 12px;
      margin: 0;
    }

    &_List{
       font-size: 10px;
       color:#fff;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       margin-bottom: 0;
       &_Item{
         margin: 0 8px;
         color: #fff!important;
         font-size: 14px;
         a{
          color: #fff!important;
         }
         a:hover{
          color: #fff!important;
         } 
       }
    }    
  }
}
.backgroundImage{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    position: relative;
    @media screen and (min-width: 600px) {
      height: 260px;
    }
    @media screen and (min-width: 786px) {
      height: 360px;
    }
    @media screen and (min-width: 1280px) {
      height: 360px;
    }
    &_Color{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--background-color);
    }
    &_Title{
      font-weight: 800;
      text-transform: uppercase;
      z-index: 100;
    }
}
.sectionTitle{
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  @media screen and (min-width: 600px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 786px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }
  &_Text{
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &_Content{
    width: 15%;
    &_Line{
      border-bottom: 4px solid #224eec;
    }
  }
}

.sectionButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  &_Filter{
    border: 0;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 0 8px 8px;
    background-color:#f9f9f9;  

    &:hover{
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}
.sectionCards{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  cursor: pointer;
  @media screen and (min-width: 600px) {
    grid-template-columns:1fr;
  }
  @media screen and (min-width: 786px) {
    grid-template-columns:1fr 1fr;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns:1fr 1fr 1fr;
  }
  &_Article{
    width:100%;
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: var(--grayscale-shadow);
    border-radius: 16px;
    position: relative;
    z-index: 0;
    border-radius: 6px;
    &:hover{
      box-shadow: var(--black-shadow);
    }
    &_Img{
      width: 100%;
      object-fit: cover;
      height: 200px;
    
    }
    &_Container{
      padding: 20px;
      &_Title{
        font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
      }
    }
}
}

.sectionModals{
    position: relative;
    &_Content{
      background: var(--clr-white);
      border-radius: var(--radius);
      width: 90vw;
      height: 60vh;
      max-width: var(--fixed-width-max);
      text-align: center;
      display: grid;
      place-items: center;
      position: relative;
    }
  &_Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
    &--Show{
      visibility: visible;
      z-index: 10000;
      box-shadow: var(--black-shadow);
    }
    &_Button{
      background-color:#224eec;
      color:#fff;
      border: 0;
      padding: 8px 16px;
    }

  }

}

.sectionModals{
  position: relative;
  &_View{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    position: relative;
    display: grid;
    grid-template-columns:70% 30%;
    grid-template-areas:"images contents";
    
    &_Img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      grid-area: images;
    }

    &_Contents{
      width: 100%;
      height: 100%;
      padding: 20px;
      grid-area: contents;
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-areas:"boxes" 
                          "downloads";
      background-color:#fff;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      &_Box{
        text-align: left;
        grid-area: boxes;
        &_Title{
          margin: 16px 0;
          text-align: left;
          font-size: 20px;
          font-weight: 700;
      }
      &_Subtitle{
            color: #818181;
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            margin-top: 20px;
      }
      &_Line{
        width: 100%;
        border-bottom: 1px solid #adadad;
        margin: 20px 0;
      }
      }
     
    }
    &_Download{
      background-color:#224eec;
      color:#fff;
      border: 0;
      width: 100%;
      border-radius: 6px;
      display: block;
      font-size: 20px;
      padding: 8px 16px;
      text-decoration: none;
      text-align: center;
      &:hover{
        background-color:#0037ff;
        color:#fff;
        text-decoration: none;
        text-align: center;
      }
      grid-area: downloads;
    }
    &_Cancel{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 50px;
      cursor: pointer;
      border: 1px solid #585858;
      background: transparent;
      position: absolute;
      right: 12px;
      top: 12px;
      &:hover{
        border: 1px solid #ff0000;
        i{
          color:#ff0000;
        }
      }

    }
  }
}
.active{
  background-color: #e0e0e0;
  font-weight: 500;
}